<% content_for :head do %>
  <% javascript_include_tag Ckeditor.cdn_url %>

  <title>Neuer Eintrag - Kondolenzbuch Pascal</title>
<% end %>


<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Neuen Eintrag erstellen</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Bitte gib unten im Eingabefeld deinen Text ein, den du im Buch veröffentlichen möchtest.</p>
      </div>
    </div>

      <%= form_for @article do |form| %>
        <div class="row">
          <div class="col-12">
            <p>
              <%= form.label :name, 'Name' %><br>
              <%= form.text_field :name, :class => "form-control" %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p>
              <%= form.label :text %><br>
              <%= form.cktext_area :text, :class => "form-control" %>
            </p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-12">
            <p>
              Woher kennst du Pascal? Wähle was am besten passt.
              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'verwandt', :class => "custom-control-input" %>
                <%= form.label :tag, 'Verwandtschaft', :value => 'verwandt', :class => "custom-control-label"%>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'freund', :class => "custom-control-input" %>
                <%= form.label :tag, 'Freund', :value => 'freund', :class => "custom-control-label"%>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'schule', :class => "custom-control-input" %>
                <%= form.label :tag, 'Schule', :value => 'schule', :class => "custom-control-label"%>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'pfadfinder', :class => "custom-control-input" %>
                <%= form.label :tag, 'Pfadfinder', :value => 'pfadfinder', :class => "custom-control-label"%>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'hockey', :class => "custom-control-input" %>
                <%= form.label :tag, 'Hockey', :value => 'hockey', :class => "custom-control-label"%>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'studium', :class => "custom-control-input" %>
                <%= form.label :tag, 'Studium', :value => 'studium', :class => "custom-control-label"%>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'firma', :class => "custom-control-input" %>
                <%= form.label :tag, 'Firma', :value => 'firma', :class => "custom-control-label"%>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :tag, 'andere', :class => "custom-control-input" %>
                <%= form.label :tag, 'Andere', :value => 'andere', :class => "custom-control-label"%>
              </div>

            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p>
              <%= form.label :email, 'E-Mail' %><br>
              <%= form.text_field :email, :class => "form-control" %>
              <small class="form-text text-muted">
                Bitte gib deine E-Mail Adresse ein, diese muss bestätigt werden, bevor dein Post veröffentlicht wird.
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <p>
              <%= form.submit 'Artikel erstellen', :class => "btn btn-primary center", :type => "submit" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</main>