<% content_for :head do%>
    <style>

        body {
            background-image: url(<%= asset_path 'background.png' %>);
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
            margin-bottom: 50px;
        }

        .content {
            margin-top: 7%;
            margin-left: 18.5%;
            padding-right: 11%;
            overflow: scroll;
            height: 800px;
        }

        .navigation {
            position: absolute;
            bottom: 50px; 
            left: 150px;
        }
    </style>
<% end %>


<div class="container content">
    <div class="row">
        <div class="col-12">
            <p><%=raw @article.text %></p>
        </div>
        <div class="col-12">
            <% if @article.title? %>
                <h5><%= @article.title %></h5>
            <% end %>
                <span class="badge badge-pill badge-info float-right inline"><%= @article.tag %></span>
        </div>
    </div>

    <p>Article Mail:<strong><%= @article.email %></strong></p>
    <p>Article Published:<strong><%= @article.published? %></strong></p>
    <p>Article Confirmed:<strong><%= @article.confirmed? %></strong></p>
    <p>Turnjs library is a great option to create an ebook with embedded audio and video. We can secure the audio and video assets by using S3 link expiration feature. You can checkout the sample books and different features it offers on it's home page. This article will discuss how to integrate this library with Rails 5.

Setup Dependencies
You can read the requirements for Turnjs on the readme page. I am using jQuery version 3.3.1. Turnjs version: 4.1.0. I copied the jquery, bootstrap.js and turn.js to the vendor/assets/javascripts folder. In application.js, add the turn.js library:

ein weiterer Test
freund
Turnjs library is a great option to create an ebook with embedded audio and video. We can secure the audio and video assets by using S3 link expiration feature. You can checkout the sample books and different features it offers on it's home page. This article will discuss how to integrate this library with Rails 5.

Setup Dependencies
You can read the requirements for Turnjs on the readme page. I am using jQuery version 3.3.1. Turnjs version: 4.1.0. I copied the jquery, bootstrap.js and turn.js to the vendor/assets/javascripts folder. In application.js, add the turn.js library:

ein weiterer Test
freund
Turnjs library is a great option to create an ebook with embedded audio and video. We can secure the audio and video assets by using S3 link expiration feature. You can checkout the sample books and different features it offers on it's home page. This article will discuss how to integrate this library with Rails 5.

Setup Dependencies
You can read the requirements for Turnjs on the readme page. I am using jQuery version 3.3.1. Turnjs version: 4.1.0. I copied the jquery, bootstrap.js and turn.js to the vendor/assets/javascripts folder. In application.js, add the turn.js library:

ein weiterer Test
freund
Turnjs library is a great option to create an ebook with embedded audio and video. We can secure the audio and video assets by using S3 link expiration feature. You can checkout the sample books and different features it offers on it's home page. This article will discuss how to integrate this library with Rails 5.

Setup Dependencies</p>
</div>
<div class="btn-group navigation" role="group">
    <a class="btn btn-primary" href="#" role="button">previous</a>
    <a class="btn btn-primary" href="#" role="button">next</a>
</div>
<%= render partial: "partials/footer" %>