<p>Article Title:<strong><%= @article.title %></strong></p>
<p>Article Tag:<strong><%= @article.tag %></strong></p>
<p>Article Text:<%=raw @article.text %></p>
<p>Article Mail:<strong><%= @article.email %></strong></p>
<p>Article Published:<strong><%= @article.published? %></strong></p>
<p>Article Confirmed:<strong><%= @article.confirmed? %></strong></p>

<%= render partial: "partials/footer" %>