<!DOCTYPE html>
<html>
  <head>
    <title>In Pascals Gedenken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
      body {
        background-image: url(<%= asset_path 'filler_background.jpg' %>);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
