<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
        display: flex;
        flex-direction: column;
        margin-bottom: 65px !important;
      }
      
      main {
        flex: 1 0 auto;
      }
    </style>

    <%= yield :head %>

    <% if flash[:popup] %>
      <script> alert(' <%= flash[:popup] %> '); </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
    <%= render partial: "partials/footer" %>
  </body>
</html>
